header {
  background-color: gray;
  padding: 0.1rem;
}
.post th {
  background-color: gray;
  width: 400px;
}
td.content {
  max-width: 400px;
  background-color: gray;
  }
td.button {
  width: 50px;
  margin: 0 auto;
}
table a {
  color: black;
  display: inline-block;
  margin: 0 auto;
}
footer{
  background-color: gray;
  width: 100%;
  padding: 1rem;
  position: fixed;
  bottom: 0;
}
footer a {
  color: black
}
