header {
  background-color: gray;
  padding: 0.1rem;
}
.post th {
  background-color: gray;
  width: 400px;
}
}
td.content {
  max-width:　400px;
  background-color: gray;
  }
table a {
  color: black;
  display: block;
  margin: 1px;
}
footer{
  background-color: gray;
  width: 100%;
  padding: 1rem;
  position: fixed;
  bottom: 0;
}
footer a {
  color: black
}
